h1{
    color : whitesmoke
}



.Portfolio
{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
    
}

.contact{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
}

.CV{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
}

body{
    background-color : #e6d7ff;
    font-family: Arial, Helvetica, sans-serif;
}

.txt{
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    background-color: blueviolet;
    text-align: center;
}
nav li
{
	list-style-type: none;
	float: left;
    transition: 0.2s;
}

nav a
{
	display: inline-block;
	text-decoration: none;
	padding: 10px 205px;
    font-weight: 600;
    color: #e6d7ff;
    transition: 0.2s;

}

nav ul
{
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px;
	overflow: hidden;
}

nav li:hover
{
	background-color:#e6d7ff ;
    transition: 0.2s;

}

nav li:hover a
{
	
	color: blueviolet;
    transition: 0.2s;

}

.Titre{
    text-decoration: underline;
}

.warning{
    font-style: italic;
}

.text{
    text-align: left;
}

/* là c'est la première image, gl pour la lecture*/

#screen_floral_serenity_1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_1:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_1 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_1 .close:hover {
    color: red;
}

/*là c'est la seconde image, toujours là?*/

#screen_floral_serenity_2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_2:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_2 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_2 .close:hover {
    color: red;
}

/* Là c'est la 3ème image, t'es sûr de vouloir tout lire ?*/

#screen_floral_serenity_3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_3:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_3 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_3 .close:hover {
    color: red;
}

/* Là, c'est la 4ème image, pourquoi t'es toujours là?*/

#screen_floral_serenity_4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_4:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_4 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_4 .close:hover {
    color: red;
}