


h1{
    color : whitesmoke
}

::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
    background-color: #1d1f1d; /* Couleur de la poignée de défilement */
    border-radius: 13px; /* Coins arrondis de la poignée */
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #353836; /* Couleur de la piste de défilement */
    width: 8px;
}

/* Pour les navigateurs basés sur Gecko (Firefox) */
* {
    scrollbar-color: #5b10a1 #f1f1f1;
    scrollbar-width: thin;
    
}

.Portfolio
{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
    
}

.contact{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
}

.CONTACT{
    font-size: 1.1em;
}

.CV{
    color :blueviolet;
    font-size: 2.3em ;
    text-align : center;
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 7%;
}

body{
    background-color : #e6d7ff;
    font-family: Arial, Helvetica, sans-serif;
}

.txt{
    font-family: Arial, Helvetica, sans-serif;

}

.titre1{
    margin:20px;
}
.titre2{
    margin:20px;
}
.titre3{
    margin:20px;
}

.text {
    margin-left:5px;
    flex-grow: 0;
    flex-basis: auto;
    break-inside: avoid;
    clear: both;
    width: 65%; 
}

.textee {
    margin-left:5px;
    flex-grow: 0;
    flex-basis: auto;
    break-inside: avoid;
    clear: both;
    width: 55%; 
}
.Titre {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
    text-decoration: none;
}

.plantum {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}
.Winter_Home {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}
.tobacco_pipeline {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}

.note_tes_potes {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}
.chrono{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}

.animations{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    column-count: 3;
    column-gap: 20px;
}

.intertxt{
    margin:20px;
}

.imagecv{
    text-align: center;
    
}

.son{
    font-style: italic;
    margin:20px;
}
/* là c'est la barre du dessus toute violette*/
nav {
    position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    background-color: blueviolet;
    text-align: center;
}
nav li
{
	list-style-type: none;
	float: left;
    transition: 0.2s;
}

nav a
{
	display: inline-block;
	text-decoration: none;
	padding: 10px 205px;
    font-weight: 600;
    color: #e6d7ff;
    transition: 0.2s;

}

nav ul
{
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px;
	overflow: hidden;
}

nav li:hover
{
	background-color:#e6d7ff ;
    transition: 0.2s;

}

nav li:hover a
{
	
	color: blueviolet;
    transition: 0.2s;

}

/*Fin de la barre toute violette tout en haut*/



.warning{
    font-style: italic;
}

.text{
    text-align: left;
}

/* là c'est la première image, gl pour la lecture*/

#screen_floral_serenity_1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_1:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_1 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_1 .croix:hover {
    color: red;
}

/*là c'est la seconde image, toujours là?*/

#screen_floral_serenity_2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_2:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_2 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_2 .croix:hover {
    color: red;
}

/* Là c'est la 3ème image, t'es sûr de vouloir tout lire ?*/

#screen_floral_serenity_3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_3:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_3 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_3 .croix:hover {
    color: red;
}

/* Là, c'est la 4ème image, pourquoi t'es toujours là?*/

#screen_floral_serenity_4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_floral_serenity_4:target {
    visibility: visible;
    opacity: 1;
}

#screen_floral_serenity_4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_floral_serenity_4 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_floral_serenity_4 .croix:hover {
    color: red;
}

/*Là, c'est la 1ère image du second jeu, jpp*/

#screen_home_1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_home_1:target {
    visibility: visible;
    opacity: 1;
}

#screen_home_1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_home_1 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_home_1 .croix:hover {
    color: red;
}

/*Là, c'est la seconde image du second jeu, encore trop à faire 0.0*/

#screen_home_2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_home_2:target {
    visibility: visible;
    opacity: 1;
}

#screen_home_2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_home_2 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_home_2 .croix:hover {
    color: red;
}

/*Là c'est la 3ème image du second jeu, plus qu'une pour ce jeu là*/

#screen_home_3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_home_3:target {
    visibility: visible;
    opacity: 1;
}

#screen_home_3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_home_3 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_home_3 .croix:hover {
    color: red;
}

/* Là c'est la 4ème image du second jeu, ça commence à être énervant isn't it?*/

#screen_home_4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_home_4:target {
    visibility: visible;
    opacity: 1;
}

#screen_home_4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_home_4 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_home_4 .croix:hover {
    color: red;
}

/* Là c'est la 1ère mais du 3ème jeu, tu vois un peu?*/

#screen_tobbaco_1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_tobbaco_1:target {
    visibility: visible;
    opacity: 1;
}

#screen_tobbaco_1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_tobbaco_1 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_tobbaco_1 .croix:hover {
    color: red;
}

/*Là c'est la seconde du 3ème jeu*/

#screen_tobbaco_2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_tobbaco_2:target {
    visibility: visible;
    opacity: 1;
}

#screen_tobbaco_2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_tobbaco_2 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_tobbaco_2 .croix:hover {
    color: red;
}

/*Là, c'est la 3ème du 3ème jeu, inception?*/

#screen_tobbaco_3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_tobbaco_3:target {
    visibility: visible;
    opacity: 1;
}

#screen_tobbaco_3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_tobbaco_3 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_tobbaco_3 .croix:hover {
    color: red;
}

/*Là, c'est la 4ème du 3ème jeu, ça fait beaucoup là non?*/


#screen_tobbaco_4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#screen_tobbaco_4:target {
    visibility: visible;
    opacity: 1;
}

#screen_tobbaco_4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}

#screen_tobbaco_4 .croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: blueviolet;
    text-decoration: none;
    z-index: 99999;
}

#screen_tobbaco_4 .croix:hover {
    color: red;
}


